body {
    background-color: white;
}

h2 {
    font-family: 'Bodoni MT';
    font-size: 64px;
}

h3{
    font-family: 'Inter';
}

.contenido {
    padding-left: 50%;

    @media (width <=768px) {
        text-align: center;
        padding: 50px;
    }
}

.content-r {
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 80px;
    text-align: right;

    @media (width <=768px) {
        text-align: center;
        padding: 50px;
    }
}

.banner {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.banner-img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    color: white;
    text-transform: capitalize;
    font-family: 'Inter';
    font-size: 96px;

    @media (width <=768px) {
        text-align: center;
        font-size: 45px;
    }
}

.description {
    font-size: 64;
    font-family: 'Inter';
}

.elements {
    align-items: center;
}

.elements-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.info{
    font-family: 'Inter';
}

.footer-icons i {
    color: black;
}

.footer-copy p {
    color: #969696;
    font-family: var(--parrafos);
}

.footer-container h5 {
    font-family: var(--titles);
    font-weight: bolder;
}

.footer-newsletter .form-control::placeholder {
    color: #969696;
    font-style: italic;
    font-family: var(--enlaces);
    letter-spacing: 1px;
}

.navbar .navbar-light {
    position: fixed;

}

.navbar li {
    font-family: var(--enlaces);
    font-size: 1.2rem;
}
