body{
    background-color: white;
}

h2
{
    font-size: 64;
}


.description{
    font: inherit;
    font-size: 64;
}


.elements-img{
    max-height: 500px;
    max-width: 100%;
    height: auto;
}

.content{
    padding-top: 50px;
    padding-right: 30px;
    @media (width <= 768px) {
        text-align: center;
        padding: 50px;
    }
}
.content-r{
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 80px;
    text-align: right;
    @media (width <= 768px) {
        text-align: center;
        padding: 50px;
    }

}


.banner{
    width: 100%;
    height: 300px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
}
.banner-img{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: capitalize;
}

.elements{
    align-items: center;
}