/* Estilos Generales */
:root {
    --titles: "Bodoni Moda", serif;
    --enlaces: "Cabin", sans-serif;
    --parrafos: "Inter", sans-serif;
    --black: #000000;
    --white: #fff;
    --grey: #969696;
    --grey2: #d9d9d9;
    --background: #f0f0f0;
  }
  body {
    margin: 0;
    font-family: var(--parrafos);
  }
  h1,
  h2 {
    font-family: var(--titles);
    font-weight: 500;
    font-size: 2.4rem;
  }
  h3 {
    font-family: var(--enlaces);
    margin-top: 50px;
  }
  p {
    font-family: var(--parrafos);
  }
  a {
    font-family: var(--enlaces);
  }
  /* Fin Estilos Generales */
  
 
  
/* Navbar */

.navbar li {
  font-family: var(--enlaces);
  font-size: 1.2rem;
}
.navbar .navbar-light {
  position: fixed;
  z-index: 1000;
}

.navbar {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1030 !important;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.container-fluid {
  margin-right: 1% !important;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
}

/* Fin Navbar */
  
/* Banner */
.banner{
    width: 100%;
    height: 300px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
}
.banner-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: capitalize;
}
  /* Fin Banner */
