/* Estilos Generales */
:root {
  --titles: "Bodoni Moda", serif;
  --enlaces: "Cabin", sans-serif;
  --parrafos: "Inter", sans-serif;
  --black: #000000;
  --white: #fff;
  --grey: #969696;
  --grey2: #d9d9d9;
  --background: #f0f0f0;
}

body {
  margin: 0;
  font-family: var(--parrafos);
}

h2 {
  font-family: var(--titles);
  font-weight: 500;
  font-size: 2.4rem;
}
/* Fin Estilos Generales */

p {
  font-family: var(--parrafos);
}
a {
  font-family: var(--enlaces);
}

/* Navbar */
.navbar .navbar-light {
  position: fixed;
  z-index: 1000;
}

.navbar li {
  font-family: var(--enlaces);
  font-size: 1.2rem;
}

.navbar {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1030 !important;
}

.container-fluid {
  margin-right: 1% !important;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
}

/* Fin Navbar */

/* Banner Video */
.video-container {
  width: 100%;
  height: 66vh;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 0;
}
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: var(--titles);
  transform: translate(-50%, -50%);
  color: var(--white);
  text-transform: capitalize;
  padding-top: 10px;
}
/* Fin Banner Video */

/* Sección Resort */
.resort-section {
  padding-top: 10%;
  padding-bottom: 20%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.resort-image {
  width: auto;
  height: 66vh;
}

.text-intro-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1 rem;
}

@media (min-width: 768px) {
  .resort-section {
    flex-direction: row;
  }
}
/* Fin Sección Resort */

/* Sección Delicias */
.delicias-section {
  background: url("/src/img/webp/Home/background.delicias.jpg") no-repeat center
    center;
  background-size: cover;
  color: var(--black);
  padding: 100px 0;
  position: relative;
}

.delicias-content {
  position: relative;
}

.delicias-text h2 {
  text-align: center;
}
.delicias-text p {
  text-align: justify;
}

.delicias-images img {
  max-width: 90%;
  height: auto;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
/* Fin Sección Delicias */

/* Sección Hotel */
.container-hotel {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.btn-hotel {
  margin-top: 20px;
  text-decoration: underline;
}
/* Fin Sección Hotel */

/*Sección Articulo */
.background-act {
    margin-bottom: 10%;
    margin-top: 10%;
  }
.img-art img {
  max-width: 150px;
  height: auto;
}

.text-art h3 {
  font-size: 1.25rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.text-art a {
  color: var(--black);
  font-weight: lighter;
}

@media (max-width: 768px) {
  hr {
    display: none;
  }
  .background-act {
    background-color: var(--background);
  }
}

/* Fin Sección Articulo */

/* Sección Actividades */
.container-actividades-home {
  margin-top: 300px;
  margin-bottom: 100px;
}

.card {
  margin: 20px;
}

.card-img-overlay {
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
  width: 60%;
  height: 30%;
  text-align: center;
  margin-left: 40px;
  margin-top: 380px;
  box-sizing: border-box;
}

.card-img-overlay a {
  font-weight: 500;
}

.card-text {
  margin-bottom: 10px;
  font-weight: lighter;
  font-family: var(--parrafos);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .container-actividades-home {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .card-img-overlay {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding: 10px;
  }

  .card-img-overlay .btn {
    margin-top: 10px;
  }
}

/* Fin Sección Actividades */

/* Footer */
.footer-icons i {
    color: black;
}

.footer-copy p {
    color: #969696;
    font-family: var(--parrafos);
}

.footer-container h5 {
    font-family: var(--titles);
    font-weight: bolder;
}

.footer-newsletter .form-control::placeholder {
    color: #969696;
    font-style: italic;
    font-family: var(--enlaces);
    letter-spacing: 1px;
}

.no-decoration {
    text-decoration: none;
  }
/* Fin Footer */